server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://localhost:3309/localhub?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  config:
    import: optional:file:.env[.properties]

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  sql:
    init:
      mode: always
      encoding: utf-8


  security:
    oauth2:
      client:
        registration:
          naver: # 서비스명
            client-name: naver
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_SECRET}
            redirect-uri: http://localhost:8082/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            scope:
              - name
              - email


          google:
            client-name: google
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_SECRET}
            redirect-uri: http://localhost:8082/login/oauth2/code/google
            authorization-grant-type: authorization_code
            scope:
              - profile
              - email



        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response


jwt:
  secret: dgsaljklkdsagjldsajglajlk124asdf5125126tdsaaa